<div class="form-group"></div> <!-- spacer -->
<div class="form-group"></div> <!-- spacer -->
<div class="form-group"></div> <!-- spacer -->
<div class="form-group">
  <label for="assertionStatusCode" class="col-lg-2 control-label">Status Code</label>
  <div class="col-lg-5">
    <input type="text" name="assertionStatusCode" ng-model="assertion.otherProperties.statusCode"
              id="assertionStatusCode" class="form-control" spellcheck="false"
           ng-change="assertionAutoSave()" ng-readonly="appStatus.isForbidden()">
  </div>
</div>
<div class="form-group">
  <div class="col-lg-offset-2 col-lg-10" ng-if="assertionVerificationResults[assertion.id].error">
    <h5 class="text-red">{{ $parent.assertionVerificationResults[$parent.assertion.id].error }}</h5>
  </div>
</div>