<div ng-controller="HTTPStubsController" ng-init="findByTestcaseId()">
  <div class="form-group">
    <div class="col-lg-1">
      <button class="btn btn-info" ng-click="createHTTPStub()" ng-disabled="appStatus.isForbidden()">Create</button>
    </div>
    <div class="col-lg-offset-1 col-lg-1">
      <button class="btn btn-info" ng-click="loadAllHTTPStubs()" ng-disabled="appStatus.isForbidden()">Load All</button>
    </div>
    <div class="col-lg-3">
      <h5 ng-if="stubsLoadingStatus === 'finished'">All stubs have been loaded into mock server</h5>
    </div>
    <div class="col-lg-2 checkbox">
      <label>
        <input name="checkHTTPStubsHitOrder" id="checkHTTPStubsHitOrder" type="checkbox"
               ng-model="testcase.checkHTTPStubsHitOrder" ng-change="update(testcaseForm.$valid)"
               ng-disabled="appStatus.isForbidden()"> Check Hit Order
      </label>
    </div>
    <div class="col-lg-2 pull-right">
      <a ng-href="ui/mockserver" target='_blank'>
        <h5>Mock Server</h5>
      </a>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-12">
      <div ng-if="activeTabIndex === HTTP_STUBS_TAB_INDEX" ui-grid="httpStubGridOptions" ui-grid-resize-columns
           ui-grid-draggable-rows class="ui-grid" id="testcase-httpstub-grid"
           ng-style="styleOfMajorElementOnSelectedTab"></div>
    </div>
  </div>
</div>

<!-- HTTP stub grid cell templates -->
<script type="text/ng-template" id="httpStubGridNOCellTemplate.html">
  <div class="ui-grid-cell-contents text-center">{{COL_FIELD}}</div>
</script>
<script type="text/ng-template" id="httpStubGridURLCellTemplate.html">
  <div class="ui-grid-cell-contents">
    <a ui-sref="httpstub_edit({ testcaseId: row.entity.testcaseId, httpStubId: row.entity.id })">
      {{ row.entity.spec.request.urlPattern ? row.entity.spec.request.urlPattern : row.entity.spec.request.url }}
    </a>
  </div>
</script>
<script type="text/ng-template" id="httpStubGridDeleteCellTemplate.html">
  <div class="ui-grid-cell-contents">
    <a ng-click="grid.appScope.appStatus.isForbidden() ? angular.noop() : grid.appScope.removeHTTPStub(row.entity)"
       ng-class="{'no-underline' : grid.appScope.appStatus.isForbidden()}" href="">
      <i class="glyphicon glyphicon-trash center-block text-center"></i>
    </a>
  </div>
</script>