<div ng-controller="TestcasesController" ng-init="findOne()">
  <div class="row page-header" id="page-header">
    <div class="col-lg-7 page-header-part1">
      <h3><div>Test Case - {{testcase.name}}</div></h3>
    </div>
    <div class="col-lg-2 page-header-part2">
      <h4><label irt-successful-message></label></h4>
    </div>
  </div>
  <div class="row">
    <uib-tabset active="activeTabIndex">
      <uib-tab heading="Basic Info" select="tabSelected(BASIC_INFO_TAB_INDEX)">
        <div ng-include="'/ui/views/testcases/edit-basic-info.html'"></div>
      </uib-tab>
      <uib-tab heading="Properties" select="tabSelected(PROPERTIES_TAB_INDEX)">
        <div ng-include="'/ui/views/testcases/edit-udps.html'"></div>
      </uib-tab>
      <uib-tab heading="Test Steps" select="tabSelected(TEST_STEPS_TAB_INDEX)">
        <div ng-include="'/ui/views/testcases/edit-teststeps.html'"></div>
      </uib-tab>
      <uib-tab heading="Data Table" select="tabSelected(DATA_TABLE_TAB_INDEX)">
        <div ng-include="'/ui/views/testcases/edit-data-table.html'"></div>
      </uib-tab>
      <uib-tab heading="HTTP Stubs" select="tabSelected(HTTP_STUBS_TAB_INDEX)">
        <div ng-include="'/ui/views/testcases/edit-http-stubs.html'"></div>
      </uib-tab>

      <div class="col-lg-offset-1 col-lg-1">
        <button class="btn btn-info" ng-click="run()"
                ng-disabled="appStatus.isForbidden() || testcaseRunStatus === 'ongoing'">Run</button>
      </div>
      <!-- Test case run status message -->
      <div class="col-lg-2 text-center">
        <h5 ng-if="testcaseRunStatus === 'ongoing'">Running ...</h5>
        <a ng-if="testcaseRunStatus === 'finished'" ng-href="api/testcaseruns/{{testcaseRun.id}}/htmlreport"
           target='_blank'>
          <h4 ng-class="{ 'text-red' : testcaseRun.result === 'Failed',
                  'text-lime' : testcaseRun.result === 'Passed' }" class="no-bottom-margin">
            {{ testcaseRun.result }} ({{ testcaseRun.duration | number }} ms)
          </h4>
        </a>
      </div>
      <div class="col-lg-2 pull-right">
        <a ng-href="api/testcaseruns/lastrun/htmlreport?testcaseId={{testcase.id}}" target='_blank'>
          <h5 style="margin-top: 5px; margin-bottom: 5px">Last Run</h5>  <!-- narrow top and bottom margins to avoid uib tabset display issue -->
        </a>
      </div>
    </uib-tabset>
  </div>
  <div class="row" ng-if="testcaseRun" id="testcase-run-result-outline-area">
    <div class="col-lg-12">
      <!-- for regular test case run -->
      <div ng-if="testcaseRun.stepRuns" ng-init="stepRuns = testcaseRun.stepRuns" ng-include="'/ui/views/testcases/step-runs-outline.html'"></div>

      <!-- for data driven test case run -->
      <uib-accordion ng-if="testcaseRun.individualRuns">
        <div uib-accordion-group class="panel-default" ng-repeat="testcaseIndividualRun in testcaseRun.individualRuns">
          <uib-accordion-heading>
            <h5 ng-class="{ 'text-red' : testcaseIndividualRun.result === 'Failed',
                  'text-lime' : testcaseIndividualRun.result === 'Passed' }">
              <strong>[{{ testcaseIndividualRun.caption }}] ({{ testcaseIndividualRun.duration | number }} ms)</strong>
            </h5>
          </uib-accordion-heading>
          <div ng-init="stepRuns = testcaseIndividualRun.stepRuns" ng-include="'/ui/views/testcases/step-runs-outline.html'"></div>
        </div>
      </uib-accordion>
    </div>
    <div ng-init="handleTestcaseRunResultOutlineAreaDisplay()"></div>
  </div>
</div>