<div class="form-group">
  <div class="btn-group col-lg-2" uib-dropdown keyboard-nav>
    <button type="button" class="btn btn-info dropdown-toggle" uib-dropdown-toggle
            ng-disabled="appStatus.isForbidden()">
      Create <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" uib-dropdown-menu role="menu">
      <li role="menuitem"><a ng-click="createTeststep('HTTP')" href="">HTTP Step</a></li>
      <li role="menuitem"><a ng-click="createTeststep('SOAP')" href="">SOAP Step</a></li>
      <li role="menuitem"><a ng-click="createTeststep('DB')" href="">Database Step</a></li>
      <li role="menuitem"><a ng-click="createTeststep('JMS')" href="">JMS Step</a></li>
      <li role="menuitem"><a ng-click="createTeststep('FTP')" href="">FTP Step</a></li>
      <li role="menuitem"><a ng-click="createTeststep('MQ')" href="">MQ Step</a></li>
      <li role="menuitem"><a ng-click="createTeststep('IIB')" href="">IIB Step</a></li>
      <li role="menuitem"><a ng-click="createTeststep('AMQP')" href="">AMQP Step</a></li>
      <li role="menuitem"><a ng-click="createTeststep('MQTT')" href="">MQTT Step</a></li>
      <li role="menuitem"><a ng-click="createTeststep('Wait')" href="">Wait Step</a></li>
    </ul>
  </div>
</div>
<div class="form-group">
  <div class="col-lg-12" id="teststepGrid">
    <div ng-if="activeTabIndex === TEST_STEPS_TAB_INDEX" ui-grid="teststepGridOptions" ui-grid-resize-columns
         ui-grid-move-columns class="ui-grid" ui-grid-draggable-rows id="teststep-grid"
         ng-style="styleOfMajorElementOnSelectedTab"></div>
  </div>
</div>

<!-- teststep grid cell templates -->
<script type="text/ng-template" id="teststepGridSequenceCellTemplate.html">
  <div class="ui-grid-cell-contents text-center">{{COL_FIELD}}</div>
</script>
<script type="text/ng-template" id="teststepGridNameCellTemplate.html">
  <div class="ui-grid-cell-contents">
    <a ui-sref="teststep_edit({ testcaseId: row.entity.testcaseId, teststepId: row.entity.id })">{{COL_FIELD}}</a>
  </div>
</script>
<script type="text/ng-template" id="teststepGridDeleteCellTemplate.html">
  <div class="ui-grid-cell-contents">
    <a ng-click="grid.appScope.appStatus.isForbidden() ? angular.noop() : grid.appScope.removeTeststep(row.entity)"
       ng-class="{'no-underline' : grid.appScope.appStatus.isForbidden()}" href="">
      <i class="glyphicon glyphicon-trash center-block text-center"></i>
    </a>
  </div>
</script>