<ul class="list-unstyled">
  <uib-accordion class="data-driven-step-run-on-testcase-edit-view">
    <li ng-repeat="stepRun in stepRuns">
      <!-- regular test step run -->
      <a ng-if="!stepRun.individualRuns && !stepRun.repeatRuns" ng-click="showStepRunHTMLReport(stepRun.id)" href="">
        <h5 ng-class="{ 'text-red' : stepRun.result === 'Failed',
                  'text-lime' : stepRun.result === 'Passed' }">
          <strong>{{ stepRun.metaTeststep.name }} ({{ stepRun.duration | number }} ms)</strong>
        </h5>
      </a>

      <!-- data driven test step run -->
      <div ng-if="stepRun.individualRuns" uib-accordion-group class="panel-default">
        <uib-accordion-heading>
          <h5 ng-class="{ 'text-red' : stepRun.result === 'Failed',
                  'text-lime' : stepRun.result === 'Passed' }">
            <strong>{{ stepRun.metaTeststep.name }} ({{ stepRun.duration | number }} ms)</strong>
          </h5>
        </uib-accordion-heading>
        <ul class="list-unstyled">
          <li ng-repeat="individualRun in stepRun.individualRuns">
            <a ng-click="showStepIndividualRunHTMLReport(individualRun.id)" href="">
              <h5 ng-class="{ 'text-red' : individualRun.result === 'Failed',
                    'text-lime' : individualRun.result === 'Passed' }">
                <strong>[{{ individualRun.caption }}] ({{ individualRun.duration | number }} ms)</strong>
              </h5>
            </a>
          </li>
        </ul>
      </div>

      <!-- repeated test step run -->
      <div ng-if="stepRun.repeatRuns" uib-accordion-group class="panel-default">
        <uib-accordion-heading>
          <h5 ng-class="{ 'text-red' : stepRun.result === 'Failed',
                  'text-lime' : stepRun.result === 'Passed' }">
            <strong>{{ stepRun.metaTeststep.name }} ({{ stepRun.duration | number }} ms)</strong>
          </h5>
        </uib-accordion-heading>
        <ul class="list-unstyled">
          <li ng-repeat="repeatRun in stepRun.repeatRuns">
            <h5 ng-class="{ 'text-red' : repeatRun.result === 'Failed',
                  'text-lime' : repeatRun.result === 'Passed' }">
              <strong>&lt;Repeat run {{ repeatRun.index }}&gt; ({{ repeatRun.duration | number }} ms)</strong>
            </h5>
          </li>
        </ul>
      </div>
    </li>
  </uib-accordion>
</ul>
